<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>Petit pierre feuille ciseaux</title>
        <link rel='stylesheet' href='./public/stylesheets/style.css'/>
    </head>

    <body>

        <div class='page'>
            <a href='../Accueil.html'><img src="../Images/pfc.png" class="logo"/></a>
            <div class='menu'>
                <h1>POK de Gabriel</h1>
            </div>
            <div class='content'> 
                <br>
                <h2>Sur cette page vous pouvez jouer à <em>pierre feuille ciseaux</em> avec un ami ou contre l'IA. </h2>
                <br>
                <p><strong>Règles : </strong>Tour à tour, les joueurs sélectionnent une action parmi les 3. La pierre gagne contre le 
                ciseau qui gagne contre la feuille qui gagne contre la pierre.</p>
                <div class="ensemble">
                    <div class="jouer IA"><p>Jouer contre l'IA.</p>
                        <div class="button1">
                            <button1>Jouer</button1>
                        </div>
                        a(href=coup.url)
                    </div>
                    <div class="jouer J2"><p>Jouer contre J2</p>
                        <div class="button2">
                            <button2>Jouer</button2>
                    </div>
                </div>
            </div>
            </div>
            <div class='footer'>
                <hr>
                <p class="droits">2022. Site de Gabriel BARBE. Tous droits réservés.</p>
            </div>
        </div>
    